/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* Add this line */
}
.app {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif; /* Use a basic, easy-to-read font */
  background-image: url('/Users/allan/Library/Mobile Documents/com~apple~CloudDocs/Development/personal-project /RandomUser/Random-DogPicker/src/images /dogbackground.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
}

.header {
  text-align: center;
}

.header h1 {
  margin: 0 0 10px 0;
  font-size: 3rem; /* Adjust as needed */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* This is a playful, "cute" font */
}

.header select {
  font-size: 1rem;
}
.slideshow {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slideshow img {
  width: 500px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  border: 15px solid rgb(7, 1, 1);
  animation: fadeIn 3s;
  
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide.fade-in {
  animation: fadeIn 1s;
}

.slide.fade-out {
  animation: fadeOut 1s;
  opacity: 0;
}


select {
  display: blockup;
  margin: 0 auto;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: medium;
  text-align: center;
}

/* Center align text for each option */
option {
  padding: 5px;
  text-align: center;
}
