/* Reset some default styles */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Use a basic, easy-to-read font */
  background-color: #241c1c; /* Use a dark grey background */
  background-image: url('https://imgs.search.brave.com/wLhukeYvNx_ij5gIPjfpSmhgFztNc8-8DlGxZ_QjOsM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTM4/NTg5OTI4Mi92ZWN0/b3IvY29va2llcy1m/b3ItYW5pbWFscy1w/YXdzLWJhY2tncm91/bmQuanBnP3M9NjEy/eDYxMiZ3PTAmaz0y/MCZjPW1jM3RxUm1h/d1djeTNMb2J0SzRW/alFnVmQySWd2Tlox/UVc1MDIwLUozT1k9'); /* Replace with the path to your image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
}

#slideshow img {
  transition: opacity 1s ease-in-out;
  position: absolute;
}